{% extends 'base.html.twig' %}

{% block title %}Wowtomatik / confidentialité{% endblock %}

{% block body %}
<h2>Politique de confidentialité</h2>
<p>Ce site respecte votre vie privée et prend au sérieux la protection de vos données personnelles. Cette politique de confidentialité décrit les types de données personnelles que nous collectons sur ce site et comment nous les utilisons</p>
<h2>Collecte de données personnelles</h2>
<p>Nous ne collectons que les informations nécessaires pour vous fournir un service de qualité. Cela peut inclure votre nom d'utilisateur, votre adresse e-mail et toute autre information que vous choisissez de partager avec nous.</p>
<h2>Utilisation de vos données personnelles</h2>
<p>Nous utilisons les informations que vous nous fournissez uniquement pour vous fournir les services que vous avez demandés. Cela peut inclure l'envoi de newsletters ou la gestion de votre compte. Nous ne vendons ni ne partageons vos informations avec des tiers à des fins commerciales.</p>
<h2>Sécurité de vos données personnelles</h2>
<p>Nous prenons des mesures de sécurité pour protéger vos informations contre la perte, l'utilisation abusive ou la modification non autorisée. Nous utilisons des méthodes de sécurité standard pour protéger vos données, telles que la cryptographie SSL pour protéger les transmissions en ligne.</p>
<h2>Cookies</h2>
<p>Nous pouvons utiliser des cookies pour améliorer votre expérience sur notre site. Les cookies sont de petits fichiers texte qui sont stockés sur votre ordinateur lorsque vous visitez notre site. Ils nous permettent de mémoriser vos préférences et d'améliorer votre expérience sur notre site.</p>
<h2>Modifications à cette politique de confidentialité</h2>
<p>Nous pouvons apporter des modifications à cette politique de confidentialité à tout moment. Si nous apportons des modifications importantes à cette politique, nous vous en informerons par e-mail ou en affichant un avis sur notre site.</p>
<h2>Contact</h2>
<p>Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez nous contacter à l'adresse e-mail suivante: [insert email address]. Nous ferons de notre mieux pour répondre à vos demandes et résoudre tout problème que vous pourriez rencontrer.</p>
{% endblock %}
