{% extends 'base.html.twig' %}

{% block title %}Wowtomatik / Copyright{% endblock %}

{% block body %}
<h2>Copyright</h2>
<p>Tout le contenu de ce site, y compris les images, textes, graphiques, marques déposées et autres éléments, est protégé par les lois sur le droit d'auteur. Ce site est un site fan et n'est en aucun cas associé à Blizzard Entertainment, Inc.</p>
<h2>Mentions légales</h2>
<p>Ce site est un site fan pour World of Warcraft. Il n'est pas affilié à, approuvé, soutenu ou spécifiquement approuvé par Blizzard Entertainment, Inc. Tous les noms de produits, marques déposées, personnages et images associés à World of Warcraft sont la propriété de Blizzard Entertainment, Inc.

Le contenu de ce site est fourni à titre informatif uniquement et ne doit pas être considéré comme des conseils officiels. Nous nous efforçons de fournir des informations précises et à jour, mais nous ne pouvons garantir l'exactitude de toutes les informations présentées sur ce site.

Toutes les opinions exprimées sur ce site sont celles de leurs auteurs respectifs et ne représentent pas nécessairement les opinions de ce site ou de ses affiliés.

En accédant à ce site, vous acceptez de ne pas utiliser son contenu à des fins commerciales ou illégales. Tout manquement à cette condition peut entraîner des poursuites judiciaires.

Nous nous réservons le droit de modifier les conditions d'utilisation et les mentions légales de ce site à tout moment et sans préavis. Il est de votre responsabilité de vérifier régulièrement les conditions d'utilisation pour être informé de tout changement.</p>
{% endblock %}
