{% extends 'base.html.twig' %}

{% block title %}Wowtomatik / FAQ{% endblock %}

{% block body %}
<h2>en préparation pour la bêtatest</h2>
<p>Cette section sera rempli apres une betatest</p>
{% endblock %}
