<form method="post" action="{{ path('app_guilds_delete', {'id': guild.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer votre guilde??');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ guild.id) }}">
    <button class="btn btn-outline-danger">Suppression de la Guilde</button>
</form>
