{% extends 'base.html.twig' %}

{% block title %}New Guilds{% endblock %}

{% block body %}
    <h1>Create new Guilds</h1>

    {{ include('guilds/_form.html.twig') }}

    <a href="{{ path('app_guilds_index') }}">back to list</a>
{% endblock %}
