{% extends 'base.html.twig' %}

{% block title %}New Guilds{% endblock %}

{% block body %}
    <h1>Création de Guilde</h1>
    

    {{ include('guilds/_form.html.twig') }}

    
    <div class="d-flex justify-content-center">
        <a id="linkCharacter">Retour</a>
    </div>

    
{% endblock %}
