{% extends 'base.html.twig' %}

{% block title %}Wowtomatik / Instances{% endblock %}

{% block body %}
{% for instance in instances %}
    <h1>{{instance.nameInstance}}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Boss Dispnible</th>
                <th>Image du Boss</th>
            </tr>
        </thead>
        <tbody>
        {% for boss in instance.bosses %}
            <tr>
                <td>{{ boss.nameBoss }}</td>
                <td>{{ boss.imgBoss }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            
        {% else %}

            <h1>no records found</h1>
            
{% endfor %}
    
    <div class="d-flex justify-content-center">
        <a class="btn" href="{{ path('app_instances_new') }}">Ajouter un Boss</a>
    </div>
{% endblock %}
