{% extends 'base.html.twig' %}

{% block title %}Instances index{% endblock %}

{% block body %}
{% for instance in instances %}
    <h1>{{instance.nameInstance}}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Boss Dispnible</th>
                <th>Image du Boss</th>
            </tr>
        </thead>
        <tbody>
        {% for boss in instance.bosses %}
            <tr>
                <td>{{ boss.nameBoss }}</td>
                <td>{{ boss.imgBoss }}</td>
            </tr>
            
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endfor %}
    <a href="{{ path('app_instances_new') }}">Create new</a>
{% endblock %}
