{% extends 'base.html.twig' %}

{% block title %}Edit Kill{% endblock %}

{% block body %}
    <h1>Edit Kill</h1>

    {{ include('kill/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_kill_index') }}">back to list</a>

    {{ include('kill/_delete_form.html.twig') }}
{% endblock %}
