{% extends 'base.html.twig' %}

{% block title %}Edit Kill{% endblock %}

{% block body %}
        {% if storedValue is not null %}
                {% for character in characters %}
                        {% if character.id == storedValue %}
                        {% set selectedCharacter = characters|filter(character => character.id == storedValue)|first %}
                                {% if selectedCharacter.roleGuild == "ROLE_OFFICER" or selectedCharacter.roleGuild == "ROLE_GUILDMASTER" %}
                                        {{ include('kill/_form.html.twig', {'button_label': 'Update'}) }}
                                                <div class="d-flex justify-content-center">
                                                        <a class="btn " href="/">Retour à l'acceuil</a>
                                                </div>
                                        {{ include('kill/_delete_form.html.twig') }}
                                {% endif %}
                        {% endif %}
                {% endfor %}
        {% endif %}
        
{% endblock %}
