{% extends 'base.html.twig' %}

{% block title %}Kill{% endblock %}

{% block body %}
    <h1>Kill</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kill.id }}</td>
            </tr>
            <tr>
                <th>Alive</th>
                <td>{{ kill.alive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td class="priority-3"><img src="{{ asset('upload/kill/' ~ kill.picture) }}" width="100"></td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ kill.createdAt ? kill.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="/" class="btn">Retour à l'acceuil</a>
{% endblock %}
