{% extends 'base.html.twig' %}

{% block title %}Wotomatik / Nouveau Perso{% endblock %}

{% block body %}
    <h1>Create new Characters</h1>

    {{ include('characters/_form.html.twig') }}

    <a href="{{ path('app_characters_index') }}">back to list</a>
     
    <script>
        $(document).ready(function() {
            $('#characters_race').change(function() {
                $('#characters_classe').attr('disabled', false);
                var selectedRace = $(this).val();
                $.ajax({
                    url: "{{ path('app_characters_new') }}",
                    type: "POST",
                    data: {race: selectedRace},
                    success: function(data) {
                        var options = '';
                        for(var key in data) {
                        options += '<option value="'+key+'">'+data[key]+'</option>';
                        }
                        $('#characters_classe').html(options);
                    }
                });
            });
        });
    </script>

   
{% endblock %}
