{% extends 'base.html.twig' %}

{% block title %}New Applicant{% endblock %}

{% block body %}
    {{ include('applicant/_form.html.twig') }}

    <div class="d-flex justify-content-center">
        <a class="btn" href="{{ path('main') }}">Retour à l'acceuil</a>
    </div>
{% endblock %}
