{% extends 'base.html.twig' %}

{% block title %}Applicant{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <h1>Applicant</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ applicant.id }}</td>
                </tr>
                <tr>
                    <th>Accept</th>
                    <td>{{ applicant.accept ? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>
    {% elseif %}
        <script>
            setTimeout(function () {
                window.location.href = "{{ path('main') }}";
            });
        </script>
    {% endif %}
{% endblock %}
